<footer>
<div class="contanier-fluid">
<div class="row">
    <div class="col-md-4 box">
        
    <h2>Categories</h2>
        <ul>
        <li>Microsoft.Net</li>
            <li>Asp.Net</li>
            <li>C# - CSharp</li>
            <li>MVC</li>
        </ul>
    </div>
    <div class="col-md-4 box">
    <h2>Categories</h2>
        <ul>
        <li>Microsoft.Net</li>
            <li>Asp.Net</li>
            <li>C# - CSharp</li>
            <li>MVC</li>
        </ul>
    </div>
    <div class="col-md-4 box">
    <h2>Categories</h2>
        <ul>
        <li>Microsoft.Net</li>
            <li>Asp.Net</li>
            <li>C# - CSharp</li>
            <li>MVC</li>
        </ul>
    </div>
    </div>
    </div>
</footer>