<div>
    <div class="col-md-4">
<form class="container-fluid">
    <fieldset class="form-group">
    <label for="useremail">Email</label>
    <input type="email" class="form-control" id="useremail" placeholder="Enter your email address">
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="username">User Name</label>
    <input type="email" class="form-control" id="username" placeholder="Enter username">
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
    <fieldset class="form-group">
    <label for="userpassword">Password</label>
    <input type="password" class="form-control" id="userpassword" placeholder="Enter your password">
  </fieldset>
    <fieldset class="form-group">
    <label for="userconfpassword">Confirm Password</label>
    <input type="password" class="form-control" id="userconfpassword" placeholder="Enter your confirm password">
  </fieldset> 
        
  
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <button type="button" class="btn btn-info">Cancel</button>  
</form>
    </div>
    </div>